.create-property-container{
    background-color: #fafafa;
    padding: 25px;
    margin: 25px auto;
    border-radius: 4px;

    h5{
        font-weight: 600;
        margin: 0 0 20px;
        color: #9933ff;
        text-align: center;
    }
}